{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3 class="account-text">{% trans "Sign In" %}</h3>

      <p class="account-text">{% blocktrans %}Welcome back to Blogs by Jessica W, your new go-to place for fun and friendly conversation all
        about your favourite sweet treats. Log in here to get involved, sharing your thoughts &
        feedback with likes and comments!</p>

      <p class="account-text">If you have not created an account yet, then <a class="link" href="{{ signup_url }}"><u>sign up here</u></a>
        to join the community.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login account-text" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}