/* General Styles */
body {
    background-color: #fcebbc;
    font-family: 'Sour Gummy', sans-serif;
}

.light-bg {
    background-color: #fff;
}

.alt-bg {
    background-color: #ffd4fc;
}

.main-bg {
    background-color: #fcebbc;
}

/* Navbar Styles */
.nav-text {
    color: #492267;
}

nav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    white-space: nowrap; /* Prevents text from wrapping */
    pointer-events: none; /* Prevents text from being selected */
    color:#492267;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link {
    color: #492267;
}

.nav-link:hover {
    color: #ea5080;
}

/* Card Styles */
.card {
    border: none;
    background-color: transparent;
}

/* Image Container Styles */
.image-container {
    position: relative;
}

/* Social Icons Styles */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons .social-icon {
    margin: 0 5px;
}

.social-icon {
    color: #492267;
}

.social-icon:hover {
    color: #ea5080;
}

/* Footer Styles */
.footer {
    position: relative;
    padding: 10px;
    text-align: center;
}

.footer .copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8rem;
}

/* Image Flash Styles */
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

/* Scale Styles */
.scale {
    width: 100%;
    height: auto;
}

/* Masthead Styles */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #492267;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #492267;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Post Styles */
.post-link {
    text-decoration: none;
    color: #492267;
}

.post-link:hover,
.page-link {
    color: #492267;
    background-color: #ffd4fc;
}

.page-link:hover {
    color: #492267;
    background-color: #ea5080;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Button Styles */
.btn-signup,
.btn-edit {
    background-color: #ea5080;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #ea5080;
}

.btn-like {
    color: #ea5080;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #ea5080;
}

.btn-like:hover,
.btn-like:active {
    color: #ea5080;
    background: transparent;
    border: none;
}

.btn-sub {
    color: #fff;
    background: #ea5080;
    border: none;
}

/* Link Styles */
.link {
    color: #ea5080;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Text Styles */
.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.account-text {
    color: #492267;
}

/* Media Queries */
@media (max-width: 768px) {
    .footer .copyright {
        position: static;
        margin-top: 10px;
    }

    .navbar-text {
        position: static;
        transform: none;
        text-align: center;
        width: 100%;
    }

    .navbar-brand {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .navbar-toggler {
        order: -1; /* Ensures the toggle button is always on the left */
    }
}